/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
	-fx-background-color: transparent;
}

.today-pane {
	-fx-background-radius: 10px;
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-radius: 10px;
}

.list-view {
    -fx-padding: 3px ;
    -fx-background-color: transparent;
}

 .list-cell {
    -fx-padding: 10px ;
    -fx-background-color: transparent, -fx-background ;
    -fx-background-insets: 3px;
	}


.list-cell:empty {
    -fx-padding: 10px;
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
}

/* making scroll bar invisible */
.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding: 0;
}


.fancytext {
    -fx-font: 16px Tahoma ;
    /*-fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);*/
}

.floating {	
    -fx-font: 20px Trebuchet ;
    -fx-padding: 15;
    -fx-background-radius: 15px;
    -fx-background-color:  lightgrey; /* .FF9900;*/
    /*-fx-background-insets: 0px, 2px ;*/
}

.floating:selected {	
    -fx-font: 20px Trebuchet ;
    -fx-padding: 15;
    -fx-background-radius: 15px;
    -fx-background-color:  ivory; /* .FF9900;*/
    /*-fx-background-insets: 0px, 2px ;*/
}

.date {
    -fx-font: 8px Tahoma ;
    /*-fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);*/
}

.deadline {	
    -fx-font: 16px Trebuchet ;
    -fx-padding: 6 8;
    -fx-background-radius: 50px;
    -fx-background-color: #D8D3C7;
    /*-fx-background-insets: 0px, 2px ;*/
    -fx-fill: white;
	-fx-background-insets: 3px;
}


.deadline:selected {
	-fx-background-color: #C1B9A5;
}
.event {	
    -fx-font: 16px Trebuchet ;
    -fx-fill: white;
    
    -fx-padding: 10px ;
    -fx-background-color: #D8D3C7;
    -fx-background-radius: 10px;
	-fx-background-insets: 3px;
}

.event:selected{
    -fx-background-color: #C1B9A5;
}

.cellTitle {
	-fx-font: 20px "Trebuchet MS";
}

.date {
	-fx-font: 20px "Trebuchet MS";
}
.event{
	-fx-fill: red;
}

.hbox {
    -fx-background-color: transparent;
}

.hboxDeadline {
    -fx-background-color: grey;
    -fx-background-radius: 50px;
    -fx-padding: 20px;
}

.mainVbox {
    -fx-background-color: white;
}

.vboxEvent {
    -fx-background-color: lightgrey;
    -fx-background-radius: 10px;
}

/* 
 .list-cell {
   -fx-padding: 10 10 10 10;
   -fx-background-color: white;
 }
 
 .list-cell:odd {
   -fx-background-color: lightgrey;
 }
 
.list-cell:selected {
   -fx-border-style: dotted;
   -fx-border-width: 3;
   -fx-border-color: white;
   -fx-background-color: lightyellow;
 }*/

.popup{
	-fx-background-radius: 10px;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 10px;
}


.static {	
    -fx-font: 12px "Trebuchet MS";
	
    -fx-padding: 10px ;
    -fx-background-color: transparent, -fx-background ;
    -fx-background-color: transparent;
    -fx-background-insets: 3px;
}

.static:selected {
    -fx-background-color: lightgrey;
    -fx-background-insets: 16 75;
}


 .overdue{
	-fx-background-color: #AFABA0;	
}

.overdue:selected{
	-fx-background-color: #7F7967;
	
}

.green{
	-fx-background-color: #D8C39E;
	
}

.green:selected{
	-fx-background-color: #C19F64;
	
}

.yellow{
	-fx-background-color: #F9DA61;
	
}

.yellow:selected{
	-fx-background-color: #DABF24;
	
}

.orange{
	-fx-background-color: #F9A01B;
	
}

.orange:selected{
	-fx-background-color: #F5670B;
	
}

.red{
	-fx-background-color: #CF3423;
	
}

.red:selected{
	-fx-background-color: #B2150E;
	
}

.darkred{
	-fx-background-color: #9F2214;
	
}

.darkred:selected{
	-fx-background-color: #650E08;
	
}