/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* setting window to be transparent================================ */
.root {
	-fx-background-color: transparent;
}/*============================================++================== */

/* making scroll bar invisible ==================================== */
.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding: 0;
}/*================================================================ */

.label {	
    -fx-font-size: 18px;
	-fx-font-color: grey;
}

.list-view {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.listcell {
    -fx-padding: 10px;
    -fx-background-color: transparent, -fx-background ;
	-fx-background-color: #D8D3C7;
	-fx-background-radius: 10px;
    -fx-background-insets: 5px;
}

.listcell:selected{
    -fx-padding: 10px;
    -fx-background-color: transparent, -fx-background ;
	-fx-background-color: #C1B9A5;
    -fx-background-insets: 5px;
}

.listcell:empty {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.labelText{
	-fx-font-size: 12px;
}

#static {
    -fx-background-color: transparent, -fx-background;
    -fx-background-color: transparent;
	-fx-font-size: 16px;
	-fx-text-fill: grey;
}

#static:selected {
    -fx-background-color: lightgrey;
    -fx-background-insets: 22 10 22 90;
}

#event{
	/* -fx-text-fill: red; */
}




/*
*	LABEL COLORS
*/

/* default */
#color0{
	-fx-background-color: #FFFFFF;
	-fx-text-fill: #000000;
}
/* blue */
#color1{
	-fx-background-color: #72CFFF;	
	-fx-text-fill: #0068FF;
}
/* green */
#color2{
	-fx-background-color: #44FF7D;	
	-fx-text-fill: #258E13;
}
/* yellow */
#color3{
	-fx-background-color: #CEFF7D;	
	-fx-text-fill: #809916;
}
/* orange */
#color4{
	-fx-background-color: #FFDE87;	
	-fx-text-fill: #FF5500;
}
/* red */
#color5{
	-fx-background-color: #FF957D;	
	-fx-text-fill: #FF2612;
}
/* purple */
#color6{
	-fx-background-color: #9F86FF;	
	-fx-text-fill: #6700C1;
}