/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
	-fx-background-color: transparent;
}


#fancytext {
    -fx-font: 16px Tahoma ;
    /*-fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);*/
}

#floating {	
    -fx-font: 20px Trebuchet ;
    -fx-padding: 15;
    -fx-background-radius: 15px;
    -fx-background-color:  lightgrey; /* #FF9900;*/
    /*-fx-background-insets: 0px, 2px ;*/
}

#floating:selected {	
    -fx-font: 20px Trebuchet ;
    -fx-padding: 15;
    -fx-background-radius: 15px;
    -fx-background-color:  ivory; /* #FF9900;*/
    /*-fx-background-insets: 0px, 2px ;*/
}

#date {
    -fx-font: 8px Tahoma ;
    /*-fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);*/
}

#deadline {	
    -fx-font: 16px Trebuchet ;
    -fx-padding: 6 8;
    -fx-background-radius: 50px;
    -fx-background-color: grey;
    /*-fx-background-insets: 0px, 2px ;*/
    -fx-fill: white;
}


#deadline:selected {
	-fx-background-color: lightgrey;
}

#event {	
    -fx-font: 16px Trebuchet ;
    -fx-fill: white;
    
    -fx-padding: 10px ;
    -fx-background-color: lightgrey;
    -fx-background-radius: 10px;
}

#event:selected{	
    -fx-background-color: lightyellow;
}

#cellTitle {
	-fx-font: 20px "Trebuchet MS";
}

#date {
	-fx-font: 20px "Trebuchet MS";
}
#event{
	-fx-fill: red;
}

.hbox {
    -fx-background-color: transparent;
}

.hboxDeadline {
    -fx-background-color: grey;
    -fx-background-radius: 50px;
    -fx-padding: 20px;
}

.mainVbox {
    -fx-background-color: white;
}

.vboxEvent {
    -fx-background-color: lightgrey;
    -fx-background-radius: 10px;
}

/* 
 .list-cell {
   -fx-padding: 10 10 10 10;
   -fx-background-color: white;
 }
 
 .list-cell:odd {
   -fx-background-color: lightgrey;
 }
 
.list-cell:selected {
   -fx-border-style: dotted;
   -fx-border-width: 3;
   -fx-border-color: white;
   -fx-background-color: lightyellow;
 }*/
 
 .list-view {
    -fx-padding: 3px ;
    -fx-background-color: transparent;
}

.list-cell {
    -fx-padding: 10px ;
    -fx-background-color: transparent, -fx-background ;
    -fx-background-insets: 3px;
}


.list-cell:empty {
    -fx-padding: 10px;
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
}

/* making scroll bar invisible */
.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding: 0;
}

.popup{
	-fx-background-radius: 10px;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 10px;
}


#static {	
    -fx-font: 12px "Trebuchet MS";
    -fx-background-color: transparent;
}

#static:selected {
    -fx-background-color: lightgrey;
    -fx-background-insets: 16 75;
}