/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* setting window to be transparent================================ */
.root {
	-fx-background-color: transparent;
}/*============================================++================== */

/* making scroll bar invisible ==================================== */
/* .list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding: 0;
} */
/*================================================================ */

.list-view .thumb {
	-fx-background-color: #D8D3C7;
}
.list-view .scroll-bar{
	-fx-background-color: transparent;
}

.label {	
    -fx-font-size: 18px;
	-fx-font-family: "Calibri";
	-fx-text-fill: darkslategrey;
	/* -fx-border-color: blue; */
}

.list-view {
    -fx-padding: 0px;
    -fx-background-color: transparent;
}

/*GOTTA USE INSETS COUPLED WITH PADDING TO CREATE GAP BETWEEN CELLS  */
.listcell {
    -fx-background-color: transparent, -fx-background ;
	-fx-background-color: #D8D3C7;
	/* -fx-background-color: #D8C39E; */
	-fx-background-radius: 10px;
	-fx-background-insets: 5px;
	-fx-padding: 5px;
	/* -fx-border-color: yellow; */
}

.listcell:selected{
    -fx-padding: 0px;
    -fx-background-color: transparent, -fx-background ;
	-fx-background-color: #C1B9A5;
	/* -fx-background-color: #C19F64; */
	-fx-background-insets: 5px;
	-fx-padding: 5px;
}

.listcell:empty {
    -fx-padding: 0px;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.labelText{
	-fx-font-size: 16px;
}

/* TEMP */
.popup{
	-fx-background-radius: 10px;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 10px;
}

#static {
    -fx-background-color: transparent, -fx-background;
    -fx-background-color: transparent;
	-fx-font-size: 16px;
	-fx-text-fill: grey;
}

.staticMarker{	
    -fx-background-color: transparent;
}

.list-cell:selected .staticMarker{	
    -fx-background-color: lightgrey;
}

#description {
	-fx-font-size: 16px;
}

.list-cell:selected #description {
}

#event{
	/* -fx-text-fill: red; */
/* 	-fx-padding: 20px 10px; */
}

.title{
	-fx-font-size: 24;
	/* -fx-font-weight: bold; */
}

.staticDate{
	-fx-font-size: 18;
	-fx-font-weight: bold;
	-fx-text-fill: darkslategrey;
}

.date{
	-fx-font-family: "Calibri Light";
}

#ongoing{
	-fx-padding: 25px 10px;
}

/*
*	DEADLINE COLORS
*/
#overdue{
	-fx-background-color: #F5F3F0;
}

#overdue .label {
	-fx-text-fill: #C1B9A5;
}

#overdue:selected{
	-fx-background-color: #EBE7E0;
}

#overdue:selected .label {
	-fx-text-fill: white;
}

#green{
	-fx-background-color: #D8C39E;	
}

#conflict{
	-fx-font-size: 24;
	-fx-font-weight: bold;
}

#green:selected{
	-fx-background-color: #C19F64;
	
}

#yellow{
	-fx-background-color: #F9DA61;
	
}

#yellow:selected{
	-fx-background-color: #DABF24;
	
}

#orange{
	-fx-background-color: #F9A01B;
	
}

#orange:selected{
	-fx-background-color: #F5670B;
	
}

#red{
	-fx-background-color: #CF3423;
}

#red .label{
	-fx-text-fill: peachpuff;
}

#red:selected{
	-fx-background-color: #B2150E;
	
}

#darkred{
	-fx-background-color: #9F2214;
}

#darkred .label{
	-fx-text-fill: peachpuff;
}

#darkred:selected{
	-fx-background-color: #650E08;
}



/*
*	LABEL COLORS
*/

/* default */
#color0{
	-fx-background-color: transparent;	
	-fx-border-color: transparent;
	-fx-text-fill: #000000;
}
/* blue */
#color1{
	-fx-background-color: #72CFFF;	
	-fx-text-fill: #0068FF;	
	-fx-border-color: #0068FF;
}
/* green */
#color2{
	-fx-background-color: #44FF7D;	
	-fx-text-fill: #258E13;	
	-fx-border-color: #258E13;
}
/* yellow */
#color3{
	-fx-background-color: #CEFF7D;	
	-fx-text-fill: #809916;	
	-fx-border-color: #809916;
}
/* orange */
#color4{
	-fx-background-color: #FFDE87;	
	-fx-text-fill: #FF5500;	
	-fx-border-color: #FF5500;
}
/* red */
#color5{
	-fx-background-color: #FF957D;	
	-fx-text-fill: #FF2612;	
	-fx-border-color: #FF2612;
}
/* purple */
#color6{
	-fx-background-color: #9F86FF;	
	-fx-text-fill: #6700C1;	
	-fx-border-color: #6700C1;
}


/*
*	LABEL COLORS SELECTED
*/

/* blue */
.list-cell:selected #color1{
	-fx-background-color: #2CB7FF;	
	-fx-text-fill: #0068FF;
}
/* green */
.list-cell:selected #color2{
	-fx-background-color: #00FF14;	
	-fx-text-fill: #258E13;
}
/* yellow */
.list-cell:selected #color3{
	-fx-background-color: #B6FF14;	
	-fx-text-fill: #809916;
}
/* orange */
.list-cell:selected #color4{
	-fx-background-color: #FFCE26;	
	-fx-text-fill: #FF5500;
}
/* red */
.list-cell:selected #color5{
	-fx-background-color: #FF6014;	
	-fx-text-fill: #FF2612;
}
/* purple */
.list-cell:selected #color6{
	-fx-background-color: #6F49FF;	
	-fx-text-fill: #6700C1;
}